SCRAM-SHA-1(-PLUS) + SCRAM-SHA-256(-PLUS) + SCRAM-SHA-512(-PLUS) + SCRAM-SHA3-512(-PLUS) supports

Dear @FreeDSx team, @ChadSikorra,

Can you add supports of :
- SCRAM-SHA-1
- SCRAM-SHA-1-PLUS
- SCRAM-SHA-256
- SCRAM-SHA-256-PLUS
- SCRAM-SHA-512
- SCRAM-SHA-512-PLUS
- SCRAM-SHA3-512
- SCRAM-SHA3-512-PLUS

You can add too:
- SCRAM-SHA-224
- SCRAM-SHA-224-PLUS
- SCRAM-SHA-384
- SCRAM-SHA-384-PLUS

"When using the SASL SCRAM mechanism, the SCRAM-SHA-256-PLUS variant SHOULD be preferred over the SCRAM-SHA-256 variant, and SHA-256 variants [RFC7677] SHOULD be preferred over SHA-1 variants [RFC5802]".

- SCRAM-SHA-1(-PLUS):
-- https://tools.ietf.org/html/rfc5802
-- https://tools.ietf.org/html/rfc6120

- SCRAM-SHA-256(-PLUS):
-- https://tools.ietf.org/html/rfc7677 since 2015-11-02
-- https://tools.ietf.org/html/rfc8600 since 2019-06-21: https://mailarchive.ietf.org/arch/msg/ietf-announce/suJMmeMhuAOmGn_PJYgX5Vm8lNA

- SCRAM-SHA-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha-512

- SCRAM-SHA3-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha3-512

https://xmpp.org/extensions/inbox/hash-recommendations.html

-PLUS variants:
- RFC5056: On the Use of Channel Bindings to Secure Channels: https://tools.ietf.org/html/rfc5056
- RFC5929: Channel Bindings for TLS: https://tools.ietf.org/html/rfc5929
- Channel-Binding Types: https://www.iana.org/assignments/channel-binding-types/channel-binding-types.xhtml
- RFC 9266: Channel Bindings for TLS 1.3: https://tools.ietf.org/html/rfc9266

IMAP:
- RFC9051: Internet Message Access Protocol (IMAP) - Version 4rev2: https://tools.ietf.org/html/rfc9051

LDAP:
- RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803

HTTP:
- RFC7804: Salted Challenge Response HTTP Authentication Mechanism: https://tools.ietf.org/html/rfc7804

2FA:
- Extensions to Salted Challenge Response (SCRAM) for 2 factor authentication: https://tools.ietf.org/html/draft-melnikov-scram-2fa

IANA:
- Simple Authentication and Security Layer (SASL) Mechanisms: https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml

Linked to:
- https://github.com/scram-xmpp/info/issues/1


Hi @Neustradamus. Thanks for all the info. Unfortunately there is no FreeDSx team, this library is maintained by myself only. I'll have to look through the RFC to see what I can reasonably implement. It's been quite a while since I've had time to dig into more SASL mechanism implementations.

@ChadSikorra: Thanks for your quick answer!

Please note that SCRAM is here to replace old unsecure CRAM-MD5 and DIGEST-MD5.

@ChadSikorra: Recently some SCRAM hashes have been added in:
- https://github.com/pear/Auth_SASL
- https://github.com/pear/Auth_SASL2
- https://github.com/pear/Net_SMTP

A good job done by @schengawegga.

Maybe it is good for your repository ^^

Maybe you can help for -PLUS variants?

And for repositories:
- https://github.com/pear/Net_Sieve
- https://github.com/pear/Net_IMAP
- https://github.com/pear/Mail_IMAPv2
- https://github.com/pear/Net_POP3
- https://github.com/pear/Mail
- https://github.com/pear/Mail2
- https://github.com/pear/Auth
- https://github.com/pear/Auth_HTTP

Base SCRAM support added in the recent version.

@ChadSikorra: Thanks a lot for your work about SCRAM and tls-unique support!

Can you specify that DIGEST-MD5 and CRAM-MD5 are not secure and must not be used?

Important about TLS Channel Binding:
- tls-unique is for TLS 1.2 and before
- tls-server-end-point is for TLS 1.3 and TLS 1.2 and before
- tls-exporter is for TLS 1.3

You can see @fabiang sasl project here:
- https://github.com/fabiang/sasl
- https://github.com/fabiang/sasl/issues

Another projects where SCRAM supports have been done by @schengawegga:
- https://github.com/pear/Auth_SASL
- https://github.com/pear/Auth_SASL2
- https://github.com/pear/Net_SMTP

It will be nice to talk all together about the PHP problem and to show that it is really important to have an improvement in PHP core:
- https://github.com/php/php-src/issues/ 16766

Linked to:
- https://github.com/FreeDSx/SASL/issues/3
- https://github.com/FreeDSx/SASL/pull/5
- https://github.com/scram-sasl/info/issues/1